li {
  list-style-type: none;
}

#gallery {
  display: flex;
}
img {
  margin-right: 15px;

  width: 400px;
}

input {
  display: block;
  margin-top: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
